:root {
    --font-lato: "Lato", sans-serif;
    --font-garamond: "EB Garamond", serif;
    --font-playwrite: "Playwrite GB S", cursive;
}

header,
footer,
h2,
h3 {
    font-family: var(--font-playwrite);
}


#first-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


header h1,
#home-page h2,
#home-page h3 {
    padding: 0 0 0 3vw;
}

#home-page p {
    padding: 0 3vw;
}

#menu-btn::before {
    content: "≡";
}

#menu-btn {
    font-size: 5rem;
    background: none;
    cursor: pointer;
    border: none;
    padding: .25rem 5vw 0 0;
}


#menu-links a {
    display: block;
    padding: .75rem 3vw;
    text-decoration: none;
    text-align: left;
    font-size: x-large;
    text-align: right;
}


#menu-btn.open::before {
    content: "x";
    background: none;
    border: none;
    text-decoration: none;
}

#menu-links.open {
    display: block;
}

#menu-links {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
}

#menu-links {
    align-self: flex-end;
    background-color: #e7f3fe;
    width: 100%;
}

#menu-links a:hover {
    background-color: beige;
}

a:visited {
    color: red;
}

#footer-div div:first-child p:first-child {
    font-size: x-large;
}

#footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

}

#social-media {
    display: flex;
    gap: 20px;
}

#visitor-message {
    background-color: #e7f3fe;
    border: 1px solid #b3d4fc;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

#hero img {
    width: 100%;
    height: auto;
    max-width: 1200px;
    max-height: 1000px;
    margin: 0 auto;
    display: block;
}

.movie img,
.tv img {
    height: 50%;
    max-height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.movie,
.tv {
    display: flex;
    flex-direction: column;
    background-color: #e7f3fe;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    border-radius: 1.5rem;
}

#movie-show,
#tv-show {
    display: flex;
    flex-direction: column;
    gap: 20px;
}