@media only screen and (min-width: 35rem) {
    #menuBtn {
        display: none;
    }

    #navigation,
    #navigation.open {
        display: flex;
        flex-direction: row;
    }

    #heading-menu+#navigation {
        margin-top: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    header section:first-child {
        display: flex;
        justify-content: space-around;
    }

    #directory-page {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #directory-page h1 {
        flex-basis: 100%;
    }

    #first-section,
    #second-section,
    #forgotten-section {
        flex-basis: 25%;
        border-bottom: initial;
    }

    #third-section {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    #third-section {
        border-top: 1px solid gray;
    }


    .company-cards {
        padding: 1rem;
        margin: 10px;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .event {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* gap: 4%; */
        justify-content: space-around;
        align-items: center;
    }


    #weather-cards,
    #ads {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .one-card {
        display: flex;
        flex-direction: row;
        flex-basis: 45%;
    }

    #join-page {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #join-page div {
        flex-basis: 50%;
    }

    #join-page h2,
    #join-page h1 {
        background-color: initial;
        font-size: 32px;
    }

    #local-image {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #local-image figure {
        margin: 1rem;
        position: relative;
    }


    #local-image figure:hover img {
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    #discover-page #main-side {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        gap: 20px;
        padding: 20px;
    }

    #local-image div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    #local-image img {
        width: 400px;
    }

}