:root {
    /* For headings, texts on light backgrounds: Navy Blue */
    --primary-color: #003366;
    /* Primary background color: Cool Gray */
    --background-color: #F5F5F5;
    /* For accents, buttons, or larger text: Teal */
    --accent-one-color: #006666;
    /* For highlights, borders, buttons, icons: Gold */
    --accent-two-color: #8C6D1F;

    /* Primary Font: Poppins, Secondary Font: Lato */
    --font-poppins: "Poppins", sans-serif;
    --font-lato: "Lato", sans-serif;

    --weight-thin: 100;
    --weight-light: 300;
    --weight-regular: 400;
    /* For Poppins */
    --weight-medium: 500;
    /* For Poppins */
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-very-bold: 900;
}